.venv/
__pycache__/
**/__pycache__/
*.pyc

data/interim/enrich_progress.json
data/interim/french_frequency_dictionary.intermediate.json

data/raw/Lonsdale D., Le Bras Y. A. - Frequency Dictionary of French - 2009.pdf

